<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
     <meta name="google-site-verification" content="qVLAe-fAjReEiSZFFlz1YExuuituTnGUgzNELKPxZ-Q" />
    <title>I Can Solve</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7NB43DCCFB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7NB43DCCFB');
</script>
    <script data-ad-client="ca-pub-3922299637282329" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Solver</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="https://www.instagram.com/i.m.j_o_y/" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a class="nav-link" href="mailto:ankush.pentester@gmail.com" >Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">I Can Solve</h1>
        <p class="lead">{{error}}</p>

          <p class="lead">
            <form action="/solve" method="post">
                <input type="text" class="form-control" placeholder="Enter video url here" name="question">
                <button type="submit" class="btn btn-success mt-3" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">Answer</button>                
            </form>
          </p>
          
          <p class="lead">{{answer}}</p>
    </main>



      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>© 2020 Designed By Ankush Das </p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"></script>
  </body>
</html>

